
<section class="row mt-2">
    <div class="flex-col">

        @for (region of regions; track region) {
            <button 
            class="btn btn-outline mr-2 w-[100px]"
            (click)="selectedRegion.set(region)"
            [class.btn-primary]="selectedRegion() === region"
            >
            {{region}}</button>
        }


    </div>

</section>

    <country-list 
    [errorMessage]="RegionResource.error()"
    [isEmpty]="RegionResource.value()?.length === 0"
    [countries]="RegionResource.value() ?? []"
    [isLoading]="RegionResource.isLoading()"
    (toggleFavorite)="favoriteService.toggleFavorite($event)"
    />




   